<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/highlightjs/googlecode.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400|Lato:100,300,400" />
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    <header class='main-header'>
      <div class="wrapper">
        <h1>{{meta_title}}</h1>
        <p>{{meta_description}}</p>
      </div>
    </header>

    {{navigation}}

    <div id='content'>
      {{{body}}}
    </div>

    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/highlightjs/highlight.pack.js"}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <footer class="main-footer">
        <section class='copyright'>&copy; 2015 *YOUR COMPANY NAME*</section>
        <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a> and polished with the terrific 'Ordentlich' theme.</section>
        <section class='other_infos'><a href="http://thenounproject.com/term/arrow-down/113915/" ref='no-follow' target='_blank'>Arrow Icon</a> created by Marek Polakovic from the Noun Project. Licensed as <a href="http://creativecommons.org/licenses/by/3.0/us/" target="_blank">Creative Commons – Attribution (CC BY 3.0)</a></section>
    </footer>
</body>
</html>
